
/* ******************************* */
/* General CSS */
/* ******************************* */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url(img/fondoGeometrico.jpg);
    background-color: rgba(34, 1, 1);
    background-blend-mode: overlay;
    background-size: cover;
}

h1{
    margin: 3% 0;
    text-align: center;
    font-size: 55px;
    color: #710100;
}


/* ******************************* */
/* CSS for index.php */
/* ******************************* */

main {
    margin: 0 5%;
}
#indexMain{
    display: flex;
}
#indexMain div{
    width: 50%;
}
#indexText p{
    color: #36ebf2;
    font-size: 22px;
}
#indexButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#indexButton button{
    border: none;
    background-color: #00000075;
    color: #710100;
    width: 350px;
    text-align: justify;
    padding: 12px;
    font-size: 24px;
    box-shadow: 0 0 7px 6px #710100;
}
#indexButton button:hover{
    color: #36ebf2;
    background-color: #36ecf23b;
    box-shadow: 0 0 7px 6px #36ebf2;
}

/* ******************************* */
/* CSS for game.php */
/* ******************************* */

/* Divisores */
#game_Container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.section {
    padding: 20px;
    border: 1px solid #000;
}

.board {
    flex-basis: 70%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    flex-basis: 30%;
    border: 1px solid #000;
}

/* Game Board */
/*.board > table {
    width: 50%;
    aspect-ratio: 1 / 1;
    border-collapse: collapse;
}

td {
    width: 100px;
}*/

table{
    width: 70%;
    margin: auto;
    text-align: center;
    border: 1px solid black; 
    border-collapse: collapse;
}

tr{
    width: 100%;
    display: flex;
}

td{
    width: 100%;
    border: 1px solid black; 
    border-collapse: collapse;
}
