/* ******************************* */
/* MARK: Color variables */
/* ******************************* */

:root {
    --black: #272932;
    --red: #710000;
    --yellow: #FDF500;
    --keppel: #1AC5B0;
    --blue: #37EBF3;
    --purple: #9370DB;
    --frostbite: #E455AE;
    --pink: #CB1DCD;
    --silver: #D1C5C0;
}

/* ******************************* */
/* MARK: General CSS */
/* ******************************* */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace !important;
    color: #ffffff !important;
    text-decoration: none !important;
    text-transform: none !important;
    font-weight: unset !important;
    overflow: hidden;
}

.js-warning {
    background-color: #ffcccc;
    border: 1px solid #ff0000;
    padding: 10px;
    margin: 10px 0;
    margin-bottom: 200px;
    text-align: center;
    font-size: 3.2em;
  }
  
.js-warning a {
    color: #ff0000;
    text-decoration: underline;
}

.disabled {
    cursor: not-allowed; /* Cursor de prohibido */
    opacity: 0.5; /* Opcional: hacer el botón más tenue para indicar que está deshabilitado */
}

#index {
    font-family: Arial, sans-serif;
    background: url(img/fondoHacker.jpg);
    background-color: #000000bf;
    background-blend-mode: overlay;
    background-size: cover;
}

#game {
    font-family: Arial, sans-serif;
    background: url(img/fondoGeometrico.jpg);
    background-color: #000000eb;
    background-blend-mode: overlay;
    background-size: cover;
}

#bodyRanking {
    font-family: Arial, sans-serif;
    background: url(img/rankingBackground.jpg);
    background-color: #000000bf;
    background-blend-mode: overlay;
    background-size: cover;
}

h1{
    font-weight: normal;
    margin: 3% 0;
    text-align: center;
    font-size: 55px;
}

/*#indexButton > button{
    border: none;
    background-color: #00000075;
    color: #710100;
    width: 350px;
    text-align: justify;
    padding: 12px;
    font-size: 24px;
    box-shadow: 0 0 7px 6px #710100;
}

#indexButton > button:hover{
    color: #36ebf2;
    background-color: #36ecf23b;
    box-shadow: 0 0 7px 6px #36ebf2;
}*/

/* Botones */
button {
    margin-top: 2%;
    padding: 0.5vw 0;
    width: 25vw;
    font-size: 1.6vw;
    background-color: unset;
    border: none;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(to right, #3700ff00 0%, #3700ff 50%, #3700ff00 100%);
}

/* ******************************* */
/* MARK: CSS for index.php */
/* ******************************* */

main {
    margin: 0 5%;
}
#indexMain{
    margin-top: 35vh;
    display: flex;
    align-items: flex-end;
}
#indexMain div{
    width: 50%;
}
#indexText p{
    margin-top: 8px;
    color: #36ebf2;
    font-size: 16px;
}
#indexButton{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.indexGame::before {
    content: '[ ] Classic Game';
}

.indexGame:hover::before {
    content: '[#] Classic Game';
}

.indexHallOfFame::after {
    content: '[ ] Hall of Fame';
}

.indexHallOfFame:hover::after {
    content: '[#] Hall of Fame';
}

/* ******************************* */
/* MARK: CSS for game.php */
/* ******************************* */

/* Game Title Easter Egg */

.glitchTitle:before,
.glitchTitle:after {
    padding: 30px;
    color: white;
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
    top: 0;
}

.glitchTitle:before {
    left: 3px;
    text-shadow: -2px 0 red;
    animation: glitch-1 2s linear infinite reverse;
}

.glitchTitle:after {
    left: -3px;
    text-shadow: -2px 0 blue;
    animation: glitch-2 2s linear infinite reverse;
}

@keyframes glitch-1 {
    0% { clip: rect(132px, auto, 101px, 30px); }
    5% { clip: rect(17px, auto, 94px, 30px); }
    10% { clip: rect(40px, auto, 66px, 30px); }
    15% { clip: rect(87px, auto, 82px, 30px); }
    20% { clip: rect(137px, auto, 61px, 30px); }
    25% { clip: rect(34px, auto, 14px, 30px); }
    30% { clip: rect(133px, auto, 74px, 30px); }
    35% { clip: rect(76px, auto, 107px, 30px); }
    40% { clip: rect(59px, auto, 130px, 30px); }
    45% { clip: rect(29px, auto, 84px, 30px); }
    50% { clip: rect(22px, auto, 67px, 30px); }
    55% { clip: rect(67px, auto, 62px, 30px); }
    60% { clip: rect(10px, auto, 105px, 30px); }
    65% { clip: rect(78px, auto, 115px, 30px); }
    70% { clip: rect(105px, auto, 13px, 30px); }
    75% { clip: rect(15px, auto, 75px, 30px); }
    80% { clip: rect(66px, auto, 39px, 30px); }
    85% { clip: rect(133px, auto, 73px, 30px); }
    90% { clip: rect(36px, auto, 128px, 30px); }
    95% { clip: rect(68px, auto, 103px, 30px); }
    100% { clip: rect(14px, auto, 100px, 30px); }
}

@keyframes glitch-2 {
    0% { clip: rect(129px, auto, 36px, 30px); }
    5% { clip: rect(36px, auto, 4px, 30px); }
    10% { clip: rect(85px, auto, 66px, 30px); }
    15% { clip: rect(91px, auto, 91px, 30px); }
    20% { clip: rect(148px, auto, 138px, 30px); }
    25% { clip: rect(38px, auto, 122px, 30px); }
    30% { clip: rect(69px, auto, 54px, 30px); }
    35% { clip: rect(98px, auto, 71px, 30px); }
    40% { clip: rect(146px, auto, 34px, 30px); }
    45% { clip: rect(134px, auto, 43px, 30px); }
    50% { clip: rect(102px, auto, 80px, 30px); }
    55% { clip: rect(119px, auto, 44px, 30px); }
    60% { clip: rect(106px, auto, 99px, 30px); }
    65% { clip: rect(141px, auto, 74px, 30px); }
    70% { clip: rect(20px, auto, 78px, 30px); }
    75% { clip: rect(133px, auto, 79px, 30px); }
    80% { clip: rect(78px, auto, 52px, 30px); }
    85% { clip: rect(35px, auto, 39px, 30px); }
    90% { clip: rect(67px, auto, 70px, 30px); }
    95% { clip: rect(71px, auto, 103px, 30px); }
    100% { clip: rect(83px, auto, 40px, 30px); }
}


/* Divisores */
#game_Container {
    display: flex;
    width: 100%;
    height: 100%;
    /*background-color: #fff;*/
}

/*.section {
    border: 1px solid #000;
}*/

.board {
    flex-basis: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info {
    flex-basis: 30%;
}

/* Game Board */
#gameTable {
    width: 30vw;
    height: 30vw;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

#gameTable td{
    padding: 7px;
    text-align: center;
}

#gameTable tr{
    border: 2px dashed #ffffff;
}

#gameTable td:not(:last-of-type){
    border-right: 2px dashed #ffffff;
}

#gameTable td.codeName:hover{
    cursor: crosshair;
}

#gameTable td:hover{
    cursor: default;
}

/* Coordenadas de los barcos */
#ShipCoords {
    margin-top: .5vw;
}

/* Panel de información */
.section.info {
    width: 50%;
    margin: 0 auto;
    padding: 2vw;
    /*background-color: #fff;*/
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-content: center;
}

/* Notificaciones del juego */
.notification {
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 1vw;
    font-size: 1vw;
    color: #000;
    text-align: center;
    min-height: 3.1vw;
    max-height: 3.1vw;
}



/* Timer */
.timer {
    font-size: 4vw;
    margin-top: 1vw;
    font-weight: bold;
    color: #000;
}

/* Puntos */
.points {
    font-size: 2vw;
    margin-top: 1vw;
    font-weight: bold;
    color: #000;
}

/* Escribir nombre */
input[type="text"] {
    width: 100%;
    padding: 1vw;
    margin-top: 1.5vw;
    font-size: 1.2vw;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
    color: #000 !important;
    text-align: center;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    display: none;
    text-decoration-color: #000;
}

/* Placeholder estilo */
input[type="text"]::placeholder {
    color: #000000;
}

/* Focus efecto */
input[type="text"]:focus {
    outline: none;
    border-color: #000000;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
}

#buttonName{
    display: none; /* Oculto inicialmente */
    padding: 1vw;
    font-size: 1.2vw;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 11px;
    margin-bottom: 20px;
}

#buttonName:hover {
    background-color: #333;
}

#errorMessage{
    color: red !important; 
    display: none;
}

/* Ocultar botones Home y Ranking */
.buttons {
    display: none; /* Ocultar botones por defecto */
}

.buttons button:hover::before{
    content: '[';
}

.buttons button:hover::after{
    content: ']';
}

/* ******************************* */
/* MARK: CSS for ranking.php */
/* ******************************* */

/* Ranking Board */
/*#bodyRanking {
    background-color: #0a0a0a;
    font-size: 1em;
}*/

#table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 80%;
    color: #00ff00;
}


#rankingTable {
    border-collapse: collapse;
    border-spacing: 0 15px;
    width: 100%;
    font-size: 1.2em;
}

#rankingTable tr{
    text-align: center;
}

#rankingTable th, #rankingTable td {
    padding: 15px;
    margin-bottom: 1px;

}

#rankingTable th {
    text-transform: uppercase;
    letter-spacing: 2px;
}

#rankingTable tr:first-of-type {
    border-bottom: 2px dashed #ffffff;
}

#rankingTable th:not(:last-of-type), #rankingTable td:not(:last-of-type){
    border-right: 2px dashed #ffffff;
}

#rankingTable tr:hover:not(:has(th)) {
    background: linear-gradient(to right, #3700ff00 0%, #3700ff 50%, #3700ff00 100%);
    position: relative;
}
.selecRanking{
    display: flex;
    justify-content: space-evenly;
}

.selecRanking::before {
    content: '[ ]';
}

tr:hover .selecRanking::before {
    content: '[#]';
}

/* Ranking Board Pager */

#paginador {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 50px;
}

#paginador a {
    text-decoration: none;
    padding: 5px 10px; 
}

#paginador a:hover {
    background: linear-gradient(to right, #3700ff00 0%, #3700ff 50%, #3700ff00 100%);
}

#paginador a:hover::before {
    content: '[';
}

#paginador a:hover::after {
    content: ']';
}

#paginador strong {
    padding: 5px 0;
    background: linear-gradient(to right, #3700ff00 0%, #3700ff 50%, #3700ff00 100%);
    cursor: not-allowed;
}

#paginador strong::before{
    content: '[';
}

#paginador strong::after{
    content: ']';
}

#paginador a,strong{
    text-align: center;
    width: 78px;
}

#goBackRanking:hover::before{
    content: '[';
}

#goBackRanking:hover::after{
    content: ']';
}

#goBackRanking{
    margin-bottom: 5%;
}
